.layout {
    height: 100vh;
    padding: 24px 24px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        "top top top"
        "tree center class"
        "bottom bottom bottom";
}

.network {
    position: absolute;
}

.tree {
    grid-area: tree;
}

.class-view {
    grid-area: class;
}

@media (max-width: 768px) {
    .layout {
        display: flex;
        padding: 16px 16px;
        justify-content: space-between;
    }

    .class-view {
        align-self: flex-end;
    }

    .class-view .content {
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .layout {
        display: flex;
        justify-content: space-between;
    }

    .class-view {
        align-self: flex-end;
    }

    .class-view .content {
        width: 60%;
    }
}